<%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container">
  <div class="row">
    <div class="col mt-4 mb-4">
      <span style=" background-color: #ECECEC; font-weight: bold; font-size: 23px">　マイページ　</span>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <h1>登録情報</h1>
    </div>
    <div class="col mt-3 text-left " >
      <button type="button" class="btn btn-success text-white">
      <%= link_to "編集する", customers_information_edit_path%></button>
    </div>
  </div>
  <table border="1">
    <tr>
      <td style="background-color: #ECECEC">氏名</td>
      <td><%= @customer.last_name %> <%= @customer.first_name %></td>
    </tr>
    <tr>
      <td style="background-color: #ECECEC">カナ</td>
      <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
    </tr>
    <tr>
      <td style="background-color: #ECECEC">郵便番号</td>
      <td><%= @customer.post_code %></td>
    </tr>
    <tr>
      <td style="background-color: #ECECEC">住所</td>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
      <td style="background-color: #ECECEC">電話番号</td>
      <td><%= @customer.phone %></td>
    </tr>
    <tr>
      <td style="background-color: #ECECEC">メールアドレス</td>
      <td><%= @customer.email %></td>
    </tr>
  </table>
  
  <div class="row mt-4">
  <div class="col-2"><h1>配送先</h1></div>
  <div class="col mt-3 text-left"><%= link_to "一覧を見る", addresses_path(@customer) %></div>
  </div>
  <div class="row mt-4">
  <div class="col-2"><h1>注文履歴</h1></div>
  <div class="col-2 mt-3 text-left btn btn-primary">
    <span><%= link_to "一覧を見る", orders_path(@customer) %></span>
  </div>
  </div>
</div>