
<%= flash[:fail] %>
<div class="container mx-auto container-fluid">
  <div class="row my-3 justify-content-center">
    <div class="col-10 px-sm-0">
      <div style="display: flex; align-items: center; justify-content: space-between;">
         <span class="mb-3 pr-3 pl-3" style="font-size: 1.3rem; background-color: #ECECEC; font-weight: bold;"><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</span>
        <div style="text-align: right;">
        </div>
      </div>


<%= form_with model: @customer, url: admin_customer_path, method: :patch do |f| %>
  <table>
    <tr>
      <td class="pb-2">会員ID</td>
      <td class="pb-2 pl-5"><%= @customer.id %></td>
    </tr>
    <tr>
      <td class="pb-2">氏名</td>
      <td class="pb-2 pl-5">
        <%= f.text_field :last_name, class: 'form-control border border-secondary' %>
      </td>
      <td class="pl-4 pb-2 pl-2">
        <%= f.text_field :first_name, class: 'form-control border border-secondary' %>
      </td>
    </tr>
    <tr>
      <td class="pb-2">フリガナ</td>
      <td class="pb-2 pl-5">
        <%= f.text_field :last_name_kana, class: 'form-control border border-secondary' %>
      </td>
      <td class="pl-4 pb-2 pl-2">
        <%= f.text_field :first_name_kana, class: 'form-control border border-secondary' %>
      </td>
    </tr>
    <tr>
      <td class="pb-2">郵便番号</td>
      <td class="pb-2 pl-5"><%= f.text_field :post_code, class: 'form-control border border-secondary' %></td>
    </tr>
    <tr>
      <td class="pb-2">住所</td>
      <td colspan="2" class="pb-2 pl-5"><%= f.text_field :address, class: 'form-control border border-secondary' %></td>
    </tr>
    <tr>
      <td class="pb-2">電話番号</td>
      <td class="pb-2 pl-5"><%= f.text_field :phone, class: 'form-control border border-secondary' %></td>
    </tr>
    <tr>
      <td class="pb-2">メールアドレス</td>
      <td class="pb-2 pl-5"><%= f.text_field :email, class: 'form-control border border-secondary' %></td>
    </tr>
      <td class="pb-2">会員ステータス</td>
      <td class="pb-2 pl-5">
        <%= f.radio_button :is_active, :true %>
        <%= f.label :is_active, "有効"%>
        <%= f.radio_button :is_active, :false, class: 'ml-4' %>
        <%= f.label :is_active, "退会", class: 'text-right' %>
      </td>
    <tr>
      <td class="pb-2"></td>
      <td class="pb-2 pl-5"><%= f.submit "変更を保存", class: 'btn btn-success mt-3' %></td>
    </tr>
  </table>
<% end %>

    </div>
  </div>
</div>