<!--登録した住所の一覧表-->
<div class="row mt-5">
  <table class="table table-bordered">
    <thead class="bg-light">
      <tr>
        <th class="col-1">郵便番号</th>
        <th class="col-4">住所</th>
        <th class="col-2">宛名</th>
        <th class="col-2"></th>
      </tr>
    </thead>
    <tbody>
      <% @addresses.each do |address| %>
        <% next if address.id.nil? %>
        <tr>
          <td class="text-nowrap"><%= address.post_code %></td>
          <td class="text-nowrap"><%= address.address %></td>
          <td class="text-nowrap"><%= address.name %></td>
          <td class="text-center text-nowrap">
            <%= link_to "編集する", edit_address_path(address), class: 'btn btn-success mr-2' %>
            <%= link_to "削除する", address_path(address), method: :delete, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>