<%= flash[:notice] %>
<h1>配送先登録 / 一覧</h1>
<%= form_with model: @address, url: addresses_path, method: :post do |f| %>
  <table>
    <tr>
      <td>郵便番号(ハイフンなし)</td>
      <td><%= f.text_field :post_code %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= f.text_field :address %></td>
    </tr>
    <tr>
      <td>宛名</td>
      <td><%= f.text_field :name %></td>
      <td><%= f.submit "新規登録" %></td>
    </tr>
  </table>
<% end %>

  <table>
    <thead>
      <tr>
        <th>郵便番号</th>
        <th>住所</th>
        <th>宛名</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @addresses.each do |address| %>
      </tr>
        <td><%= address.post_code %></td>
        <td><%= address.address %></td>
        <td><%= address.name %></td>
        <td>
          <%= link_to "編集する", edit_address_path(address) %>
          <%= link_to "削除する", address_path(address), method: :delete %>
        </td>
      <% end %>
    </tbody>
  </table>