<div class="container mx-auto container-fluid">
  <div class="row my-3 justify-content-center">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <span style="background-color: #ECECEC; font-weight: bold;">ショッピングカート</span>
    </div>
    <div>
      <%= link_to "カートを空にする", carts_destroy_all_path, method: :delete, class: "btn btn-danger" %>
    </div>
    <div class="row">
      <div class="mx-auto container-fluid">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="table-active">商品名</th>
              <th class="table-active">単価(税込み)</th>
              <th class="table-active">数量</th>
              <th class="table-active">小計</th>
              <th class="table-active"></th>
            </tr>
            <tbody>
              <% @carts.each do |cart| %>
                <%= form_with model: cart, url: cart_path(cart), local: true do |f| %>
                <tr>
                  <td class="d-flex align-items-center">
                    <%= image_tag cart.item.image, size: "50x50", class: "me-2" %>
                    <span class="d-flex align-items-center"><%= cart.item.name %></span>
                  </td>
                  <td class="text-center align-middle"><%= number_to_currency((cart.item.price * 1.1).floor, unit: '',delimiter: ',') %></td>
                  <td class="text-center align-middle">
                    <div class="d-flex align-items-center justify-content-center">
                      <%= f.select :quantity, *[1..10], class: "form-select me-2" %>
                      <div class="ml-1"><%= f.submit "変更", class: "btn btn-success btn-sm" %></div>
                    </div>
                  </td>
                  <td class="text-center align-middle"><%= number_to_currency((cart.item.price * 1.1 * cart.quantity).floor, unit: '',delimiter: ',')%></td>
                  <td class="text-center align-middle"><%= link_to "削除する", cart_path(cart), method: :delete, class: "btn btn-danger" %></td>
                </tr>
                <% end %>
              <% end %>
            </tbody>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row mt-0">
  <div class="col-sm-6 px-sm-0 offset-sm-2">
    <%= link_to "買い物を続ける", items_path, class: "btn btn-primary" %>
  </div>
  <div class="col">
    <table class="col-6 table table-bordered">
      <tr>
          <th class="table-active">合計金額</th>
          <td><%= number_to_currency(@sub_total.round.to_s(:delimited), unit: '', delimiter: ',') %></td>
      </tr>
    </table>
    </div>
</div>


<div class="text-center mt-3">
  <%= link_to "情報入力へ進む", new_order_path, data: {"turbolinks" => false}, class: "btn btn-success" %>
</div>
