<%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container mt-4">
<%= flash[:notice] %>
  <div class="row">
    <div class="col-lg-4">
      <h4><span style="background-color: #ECECEC; font-weight: bold;">ジャンル編集</span></h4>
    </div>
  </div>
  <div class="row mt-4">
    <span class="mr-3 py-1">ジャンル名</span>
    <%= form_with model: @category, url: admin_category_path, method: :patch do |f| %>
      <span class="mr-3"><%= f.text_field :name %></span>
      <span class="mr-3"><%= f.submit "変更を保存", class: 'btn btn-success' %></span>
    <% end %>
  </div>
</div>
