<div class="container">
  <div class="row m-5">
    <span style="background-color: #ECECEC; font-weight: bold; font-size: 23px;">注文履歴詳細</span>
  </div>

  <!-- 注文情報と請求情報 -->
  <div class="row">
    <div class="col-lg-8 col-md-7">
      <h2>注文情報</h2>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="col-3 bg-light">注文日</td>
            <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
          </tr>
          <tr>
            <td class="col-3 bg-light">配送先</td>
            <td>
              〒<%= @order.post_code %><br>
              <%= @order.address %><br>
              <%= @order.name %>
            </td>
          </tr>
          <tr>
            <td class="col-3 bg-light">支払方法</td>
            <td><%= @order.payment_i18n %></td>
          </tr>
          <tr>
            <td class="col-3 bg-light">ステータス</td>
            <td><%= @order.status_i18n %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- 請求情報 -->
    <div class="col-lg-4 col-md-5">
      <h2>請求情報</h2>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="bg-light">商品合計</td>
            <td><%= number_to_currency(@order.total - @order.fee, format: "%n%u", unit: "円") %></td>
          </tr>
          <tr>
            <td class="bg-light">配送料</td>
            <td><%= number_to_currency(@order.fee, format: "%n%u", unit: "円") %></td>
          </tr>
          <tr>
            <td class="bg-light">請求額</td>
            <td><%= number_to_currency(@order.total, format: "%n%u", unit: "円") %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- 注文内容 -->
  <div class="row m-2">
    <h2>注文内容</h2>
  </div>
  <div class="row col-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="col-lg-7 bg-light">商品</th>
          <th class="col-lg-2 bg-light">単価(税込)</th>
          <th class="col-lg-1 bg-light">個数</th>
          <th class="col-lg-2 bg-light">小計</th>
        </tr>
      </thead>
      <tbody>
        <% @order.order_details.each do |order_detail| %>
        <tr>
          <td><%= order_detail.item.name %></td>
          <td><%= number_to_currency(order_detail.price * 1.1, format: "%n%u", unit: "円") %></td>
          <td><%= order_detail.quantity %></td>
          <td><%= number_to_currency(order_detail.price * 1.1 * order_detail.quantity, format: "%n%u", unit: "円") %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
