<%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container">
  <div class="row my-4">
    <div class="col-8 mx-auto text-center">
      <p style="background-color: #f5deb3; padding: 5px;">会員の方はこちらからログイン</p>
    </div>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row mb-3">
      <div class="col-8 mx-auto">
        <div class="text-end">
          <%= f.label :email, class: 'form-label' %>
        </div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-8 mx-auto">
        <div class="text-end">
          <%= f.label :password, class: 'form-label' %>
        </div>
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="col-8 mx-auto text-center">
        <%= f.submit "ログイン", class: "btn btn-primary btn-lg" %>
      </div>
    </div>
  <% end %>

  <div class="row mt-4">
    <div class="col-8 mx-auto text-center">
      <p style="background-color: #f5deb3; padding: 5px;">会員登録がお済みで無い方</p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-8 mx-auto text-center">
      <%= render "public/shared/links" %>
    </div>
  </div>
</div>
